@import "varible";

body {
  margin: 0;
}

.header,
header {
  //width: 1600px;
  //margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  padding: 10px;
}

.header-content {
  max-width: $widthBase;
  margin: 0 auto;
  //min-height: 100px;
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  /*background-color: #a4a4a4;*/
  box-sizing: border-box;
}

.header-label,
.footer-logo {
  /*background: url("../image/group-2.png") no-repeat;*/
  /*width: 150px;*/
  /*height: 51px;*/
  color: #222222;
  font-family: $fontFamily;
  font-size: 27px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.68px;
  /*padding-left: 70px;*/
  text-decoration: none;
}

.header-label:hover,
.header-label:focus { /*todo:переопределяем bootstrap*/
  text-decoration: none;
  color: #222222;
}

.header-label img,
.footer-logo img {
  position: relative;
  top: 10px;
  vertical-align: baseline; /*todo:переопределяем bootstrap*/
}

.header-label span,
.footer-logo span {
  color: #f16d7f;
  font-family: "Arial Black", sans-serif;
  font-weight: 400;
  letter-spacing: 0.68px;
  margin-right: 37px;
}

.header-search {
  display: flex;
  align-items: center;
  .search__wrap{
    display: flex;
    align-items: center;
  }
}

.header-search select,
.header-search select option {
  width: 87px;
  height: 38px;
  color: #222222;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding-left: 10px;
  outline: none;
}

.header-search select:hover {
  background-image: linear-gradient(to bottom, #d4c7c7 0%, #f5f5f5 100%);
}

.header-search select:active {
  background-image: linear-gradient(to top, #d4c7c7 0%, #f5f5f5 100%);
}

.header-search button:hover {
  background-size: 70%;
}

.header-search button:active {
  background-size: 30%;
}

.header-search input {
  width: 280px;
  height: 38px;
  /*border-radius: 0 3px 3px 0;*/
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  color: #a4a4a4;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding-left: 16px;
  box-sizing: border-box;
  outline: none;
}

.header-search button {
  width: 36px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background: #ffffff url("../image/search.png") no-repeat center;
  outline: none;

}

.acc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  &__cart_wrap {
    position: relative;
    &:hover > .acc__cart {
      display: block;
    }
  }
  &__cart {
    display: none;
    position: absolute;
    width: 265px;
    //height: 443px;
    border-radius: 5px;
    background-color: #ffffff;
    left: -15px;
    top: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9e9e9;
    padding: 20px;
    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background-color: inherit;
      transform: rotate(45deg);
      border-left: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9;
      position: absolute;
      left: 25px;
      top: -10px;
    }
    &__product {
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #ededed;
      padding: 0 0 13px;
      margin-bottom: 13px;
      &__data {
        margin-left: 13px;
        padding-top: 5px;
        & > span {
          display: block;
          margin-bottom: 5px;

        }
        & > .product__data_head {
          color: #222222;
          font-family: $fontFamily;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase
        }
        & > .product__data_quality {
          color: #e4af48;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          & > .quality-white {
            position: relative;
            &:after {
              content: "\f005";
              display: block;
              position: absolute;
              color: white;
              font-size: .68em;
              top: .3em;
              left: .65em;
              width: .5em;
              overflow: hidden;
              transform: rotateY(180deg);
            }
          }
        }
        & > .product__data_calculation {
          color: #f16d7f;
          font-family: $fontFamily;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 10px;
          & > span {
            font-size: 12px;
          }
          & > .product__data_number {
            margin-right: 5px;
          }
          & > .product__data_price {
            margin-left: 5px;
          }
        }
      }
      &__del {
        align-self: center;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        & > button {
          //position: relative;
          display: flex;
          width: 15px;
          height: 15px;
          color: #fff;
          background-color: #ddd;
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          border-radius: 50%;
          padding: 0;
          border: transparent;
          outline: none;
          cursor: pointer;
          &:hover {
            background-color: $bgColorBase;
            color: #fff;
          }
          &:active {
            color: $bgColorBase;
            background-color: #ddd;
          }
          & > i {
            margin: auto;
            line-height: 1em;
            //position: absolute;
            //top: 2.1px;
            //left: 3.5px;
          }
        }
      }
    }
    &__price-total {
      display: flex;
      justify-content: space-between;
      width: 228px;
      height: 16px;
      color: #222222;
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 18px 0 30px;
    }
    &__buttons .buttons_checkout {
      @include shopping-cart-style-btn(227px, 53px, 14px);
      border: 1px solid #f16d7f;
      color: #f16d7f;
      margin-bottom: 8px;
    }
    &__buttons .buttons_go-to-cart {
      @include shopping-cart-style-btn(227px, 53px, 14px);
    }
  }
  & a {
    background: url("../image/basketImg.png") no-repeat bottom;
    width: 38px;
    height: 38px;
    display: inline-block;
  }
  & select {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: $fontFamily;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    padding-left: 15px;
    margin-left: 26px;
    border: none;
    outline: none;
  }
}

.acc  .btn:hover {
  background-color: #ad2739;
}

.acc  .btn:active {
  background-color: #f5013c;
}

.wrap-nav {
  max-width: 1600px;
  margin: 0 auto;
  /*min-height: 51px;*/
  /*background-color: #ffff11;*/
  .nav-open-click,
  .nav-open-check{
    display: none;
  }
}

.nav,
nav {
  width: 680px;
  min-height: 51px;
  margin: 0 auto;
  /*background-color: aqua;*/
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style-type: none;
}

.nav li a {
  color: #222222;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 700;
  line-height: 51px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0; /*TODO переопределяем bootstrap*/
}

.nav li a:hover {
  //font-size: 25px;
  background-color: transparent;
  transform: scale(1.4);
}

.nav li a:active {
  //font-size: 25px;
  color: #e00e0e;
}

.logo-subscribe {
  display: none;
}

.subscribe {
  background: #f2f2f2 url("../image/subscribe-img.png") no-repeat center;
  height: 438px;
  box-sizing: border-box;
  margin-bottom: 109px;
  padding: 0 10px;
}

.wrap-subscribe-content {
  max-width: 1140px;
  margin: 0 auto;
  height: inherit;
  padding-top: 111px;
  box-sizing: border-box;
  position: relative;
}

.subscribe-shape {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  width: 1px;
  height: inherit;
  background-color: #e3e3e3;
}

.subscribe-content {

  display: flex;
  justify-content: space-between;
  padding-right: 90px;
  box-sizing: border-box;
}

.subscribe-content-left {
  background: url("../image/subscribe-content-foto.png") no-repeat;
  padding-left: 110px;
  padding-top: 8px;
}

.subscribe-content-left > div:nth-child(1) {
  color: #222224;
  font-family: $fontFamily;
  font-size: 15px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;;
  max-width: 400px;
}

.subscribe-content-left > div:nth-child(2) {
  font-family: $fontFamily;
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
  margin-bottom: 41px;
}

.subscribe-content-left div:nth-child(2) span {
  display: block;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.subscribe-content-left .rectangle-1 {
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 13px;
}

.subscribe-content-left .rectangle-2 {
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}

.subscribe-content-right {
  align-self: flex-end;
}

.subscribe-title {
  color: #222224;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.subscribe-title span {
  display: block;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 33px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  width: 282px;
  height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1 !important;
  border-color: transparent;
  outline: none;
  opacity: 0.67;
  color: #222224;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
  padding-left: 28px;
  box-sizing: border-box;
  flex-basis: 200px;
  flex-grow: 1;
}

.subscribe-form button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border-color: transparent;
  outline: none;
  color: #ffffff;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 400;
  //line-height: 40px;
  letter-spacing: 0.35px;
  //outline: none !important;
  &:focus{
    box-shadow: none;
  }
  &:hover{
    background-color: #fff;
    color: $bgColorBase;
    border: 1px solid $bgColorBase;
  }
  &:active{
    background-color: $bgColorBase;
    color: #fff;
    @include btn-active;
  }
}

.footer,
footer {
  /*min-height: 428px;*/
}

.wrap-footer-content {
  max-width: 1150px;
  margin: 0 auto 89px;
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 10px;
  box-sizing: border-box;
}

.footer-logo-copy {
  flex-basis: 415px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}

.footer-logo-copy div:nth-child(n+2) {
  color: #898989;
  font-family: $fontFamily;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer-links__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0 20px;
  flex-basis: 55%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: flex-start;
}

.footer-links div {
  color: #f16d7f;
  font-family: $fontFamily;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #898989;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  &:hover{
    color: $bgColorBase;
    transform: scale(1.2);
  }
}

.copyright {
  //height: 79px;
  background-color: #e6e6e6;
}

.wrap-copyright {
  max-width: 1160px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.copyright-social {
  display: flex;
  justify-content: flex-end;

}

.copyright-social a {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-left: 8px;
}

.copyright-social a:hover {
  background-color: $bgColorBase;
  color: #ffffff;
}

.copyright-social a:active {
  background-color: #b50000;
  color: #ffffff;
  font-size: 140%;
}

.copyright-text {
  color: #7a7a7a;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}





