.wrap-shopping-cart {
  margin: 90px 0 0;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  //margin: 90px 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;

  div {
    color: #222222;
    //width: 12.5%;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    //flex-basis: 170px;
    //background: #9acfea;
    //border: 1px solid #0f0f0f;
  }
}

.shopping-cart__column-first {
  width: 42%;
  text-align: left;
}

.shopping-cart__column-last {
  width: 8%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shopping-cart__column-center {
  width: 12.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #eaeaea;
}

.shopping-cart__product-details {
  display: flex;
  justify-content: flex-start;
  img {
    background-color: #f1f7fa;
  }
}

.shopping-cart__action {
  padding-right: 18px;
}

.product-details__description {
  margin-left: 21px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #222222;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.option-row {
  color: #6f6e6e;
  font-family: $fontFamily;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  &__option {
    color: #575757;
    font-weight: 400;
  }
}

.unite-price,
.shipping,
.subtotal {
  @include shopping-cart-style-text;
}

.quantity {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  @include shopping-cart-style-text;
  padding: 0 13px 0 24px;
  outline: none;
}

.shopping-cart__action > button {
  position: relative;
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: #ddd;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  outline: none;
  i {
    position: absolute;
    top: 5px;
    left: 6px;
  }
  &:hover {
    background-color: #fff;
    color: #ddd;
  }
  &:active {
    color: #f00;
    background-color: #ddd;
  }
}

.shopping-cart-btn {
  display: flex;
  justify-content: space-between;
  margin: 44px 0 63px;
  &__clear {
    @include shopping-cart-style-btn(235px, 50px, 14px);
  }
  &__continue {
    @include shopping-cart-style-btn(225px, 50px, 14px);
  }
}

.wrap-shipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.shipping-address {

  &__header {
    @include shipping-header-style;
  }
  & > select,
  &__state,
  &__zip {
    @include shipping-input-style;
  }
  &__getAQuote {
    @include shopping-cart-style-btn(100px, 35px, 11px);
  }
}

.shipping-discount {

  label {
    color: #000000;
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  &__header {
    @include shipping-header-style;
  }
  &__coupon {
    @include shipping-input-style;
  }
  &__applyCoupon {
    @include shopping-cart-style-btn(118px, 35px, 11px);
  }
}

.sub-total-label,
.sub-total-value {
  color: #4a4a4a;
  font-family: $fontFamily;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.shipping-check {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shipping-check__total {
  width: 273px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 17px;
}

.shipping-check__sub-total {
  text-align: right;
  color: #4a4a4a;
  font-family: $fontFamily;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.shipping-check__grand-total {
  text-align: right;
  color: #222222;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  .grand-total-value {
    color: #f16d7f;
  }
  margin-bottom: 22px;
}

.shipping-check__btn {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  outline: none !important;
  &:hover {
    background-color: darken(#f16d7f, 20%);
  }
  &:active {
    box-shadow: 0 0 14px 2px rgba(116, 33, 202, 0.97);
    border-color: #f16d7f;
  }
}

