@import "varible";
@import "main_";
@import "index_";
@import "breadcrumb_";
@import "single-page_";

.wrap-shopping-cart{
  margin: 90px 0 0;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  //margin: 90px 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;

  div {
    color: #222222;
    //width: 12.5%;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    //flex-basis: 170px;
    //background: #9acfea;
    //border: 1px solid #0f0f0f;
  }
}

.shopping-cart__column-first {
  width: 42%;
  text-align: left;
}

.shopping-cart__column-last {
  width: 8%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shopping-cart__column-center {
  width: 12.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #eaeaea;
  //div{
  //  background: #9acfea;
  //  border: 1px solid #0f0f0f;
  //}
}

.shopping-cart__product-details {
  display: flex;
  justify-content: flex-start;
  img {
    background-color: #f1f7fa;
  }
}

.shopping-cart__action {
  padding-right: 18px;
}

.product-details__description {
  margin-left: 21px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #222222;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.option-row {
  color: #6f6e6e;
  font-family: $fontFamily;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  &__option {
    color: #575757;
    font-weight: 400;
  }
}

.unite-price,
.shipping,
.subtotal {
  @include shopping-cart-style-text;
}

.quantity {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  @include shopping-cart-style-text;
  padding: 0 13px 0 24px;
  outline: none;
}

.shopping-cart__action > button {
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: #ddd;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  outline: none;
  &:hover {
    background-color: #fff;
    color: #ddd;
  }
  &:active {
    color: #f00;
    background-color: #ddd;
  }
}

























